@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&display=swap');
/* CSS Document */

/* CSS Reset */
/* apply a natural box layout model to all elements, but allowing components to change */
:root {
    --display-color: #dd0000;
    --text-color: rgb(244, 244, 244);
    --header-font: 'Bebas Neue', sans-serif;
    --date-colour: rgb(143, 143, 143);
    --realted-photo-size: width: 20rem, height: auto;
  }

html {
	box-sizing: border-box;
  }
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	line-height: 1;
	margin: 0;
}

.wrapper {
	padding: 0 30px;
	margin: 0 auto;
    background: linear-gradient(to left, #101010, #1d1c1c);
}

/* Responsive Image Reset */

img {
	max-width: 100%;
	height: auto;	
}


/* font settings */
p, li, b {
	font-family: 'playfair display', serif;
    color: var(--text-color);
}

p {
	line-height: 1.4;
    margin: 0.9em 0;
}

h1, h2, h3, h4, h5, h6, a {
	font-family: var(--header-font);
	font-weight: 600;
	margin: 16px 0;	
    color: var(--text-color);
}

h1 {
	font-size: 3em;	
}

h2 {
	font-size: 2em;	
}

a + h4 {
    color: var(--date-colour);
}

h1 ~ h4 {
    color: var(--date-colour);
}

/* search bar/sign up */
.sign-up-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: none;
    margin: 0;
    align-items: center;
    gap: 10px;
    font-family: var(--header-font);
    color: var(--date-colour);
}
.hidden-search {
    color: #10101000;
    font-size: 1px;
}

.sign-up-bar > a:hover {
    color: red;
}
.sign-up-bar > form:hover {
    border-color: red;
}

#search {
    border: none;
    background-color: rgba(79, 75, 75, 0.443);
    font-family: var(--header-font);
    font-size: 1em;
    border-radius: 10px;
    padding-left: 10px;
    color: white;
}

/* end of search bar/sign up */


/* Header */
header h1 {
    margin: 0;
    margin-right: auto;
    font-size: 1.5em;
    font-weight: 400;
    margin-left: 10px;
}

header h1 a {
    font-family: var(--header-font);
    color: white;
    text-decoration: none;        

}

header h1 a:hover {
    color: #ff8400;
    border-bottom: var(--display-color) 3px;

}

header {
    padding: 40px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    width: 80px;
    margin-left: .5rem;
} 

.logo img {
    display: block;    
}
/* Header Ends */


/* Navigation */
/* Hamburger Menu */
#menuToggle {
    position: relative;
    margin-top: 1em;
}

#menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
}

#menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: var(--text-color);
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#menuToggle span:first-child{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--text-color);
}

#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}    

#menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}

.nav-test {
    display: none;
    height: 0;
    transition: 0.3s height;
}

#menuToggle input:checked ~ .nav-test {
    display: block;
    height: 150px;
    padding-bottom: 10rem;
}

.nav-test ul {
    display: block;
    padding: 0;
    padding-bottom: 10rem;
}


nav li{
    list-style: none;
}

nav a, nav a:visited{
    color: var(--text-color);
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 35px;
}

nav a:hover{
    border-bottom: var(--display-color) solid 3px;
}

.open{
    display: block;
    margin-bottom: 10em;
    padding-bottom: 10em;
    z-index: 1555555;
}
@media only screen and (min-width: 700px) {
    input[type="checkbox"] {
        display: none;
    }
    #menuToggle{
        display: none;
    }

    .nav-test {
        display: block;
    }
    #main-nav ul {
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(255, 255, 255, 0);
        color: rgba(255, 255, 255, 0);
        margin-top: -3rem;
    }

    nav {
        display: block;
        position: relative;

        top: 0;
        right: 0;
        display: flex;
        align-items: center;
    }
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        margin: 0;
        padding: 20px;
    }
    a {
        text-decoration: none;
        color: var(--text-color);
    }

}
/*end hamburger and nav */


/* Banner */
.banner {
    position: relative;
    text-align: center;
    color: white;
}
.banner img {
    display: block;
}

/* Splash Section */
.banner > .splash-section {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--display-color);
    width: 100%;
}

.banner h2 {
    animation: breaking-news 3s linear infinite;
    overflow: hidden;
    white-space: nowrap;
    font-size: 90px;
    color: var(--display-color);
    background-color: var(--text-color);
    text-align: center;
  }
  
  @keyframes breaking-news {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }

.sidebar img{
    display: block;
    size-adjust: var(--realted-photo-size);
    padding-bottom: 20px ;
}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 0;
}

.sidebar a {
    font-size: 1.8em;
}

.sidebar p {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
}



/* Main start mobile width*/
.main-content {
    display: grid;
    grid-template-areas: "article1"
                         "weather"
                         "article2"
                         "sidebar"
}

/* Article */
.article1 {
    grid-area: article1;
    padding: 1em;
}

.article2 {
    grid-area: article2;
    padding: 1em;
}

.article-content p {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* Weather */
.weather {
    grid-area: weather;
    padding: 1em;
}

/* Sidebar */
.sidebar {
    grid-area: sidebar;
    padding: 1em;
}

/* Ad1 */
.ad1 {
    display: none;
}

/* Ad2 */
.ad2 {
    display: none;  
}


/* Main end full width*/

@media(min-width: 750px){
    .main-content {
        display: grid;
        grid-template-areas: "article1 article1  weather"
                             "article1 article1  sidebar"
                             "ad1      ad1       sidebar"
                             "article2 article2  sidebar"
                             "ad2      ad2       ad2";
    }

    .wrapper{
        max-width: 80%;
    }

    .ad2{
        grid-area: ad2;
        display: flex;
        justify-content: center;
    }

    .ad1{
        grid-area: ad1;
        display: flex;
        justify-content: center;
    }

    .sidebar ul{
        display: flex;
        flex-direction: column;
    }
}

    @media (min-width: 1200px){
        body{
            background-color: mediumslateblue;
        }
}

footer {
    display: flex;
    justify-content: center;
	max-width: 960px;
	margin: 0 auto;
	padding: 80px 0;
}
